body{
    background: none #444444;
    /* background: url("images/wood.jpg"); */
    background-repeat: repeat;
    background-size: 500px 500px;
    line-height: 170%;
    
    font-family: 'Roboto', sans-serif;
}
@font-face {
    font-family: 'Nexa';
    src: url('fonts/Nexa Bold.otf');
}
div{
    display: block;
}
.clear{
    clear: left;
}
#vignette{
    background: radial-gradient(transparent, rgb(17, 17, 17));
    width: 100%; 
    height: 100%;
    position: fixed;
    z-index:-1;
}
.header{
    position: relative;
    color: #888888;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 12px;
    min-height: 50px;
    height: auto !important;
    padding-top: 25px;

    background-image:url(none);
    background-repeat: no-repeat;
}
.logo h1{
    font-size: 48px;
    text-shadow: 5px 5px 2px #00000081;
}
.logo h1 a{
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
.logo{
    position: absolute;
    width: 100%;
    text-align: center;
    color:white;
    padding-top: 40px;
    font-family: 'Nexa', Nexa, sans-serif;
}

.nav{
    margin-top: 110px;
    background: #333333;
    color: white;
    display: block;
    float: left;
    padding-left: 3px;
    width: 100%;
    line-height: 30px;
    border-bottom: 1px solid white;
    box-shadow: 10px 10px 0 0 #00000081;
    overflow: hidden;
}
.menudiv{
    display: none;
    overflow:hidden;
    float: left;
    position:relative;
}
.menubuttons{
    display: flex;
    flex-direction: row;
    list-style: none outside none;
    overflow:hidden;
}
.menubuttons li{
    display: block;
    margin: 0 3px 0 0;
}
.menubuttons a{
    color: inherit;
    padding: 0 15px 0 15px;
    text-decoration: none;
}
.menubuttons li:hover{
    background-color: white;
    color: #443333;
}
.menutoggle{
    position: relative;
    display: inline-block;
    padding: 0 15px 0 15px;
}
.menutoggle:hover{
    background-color: white;
    color: #443333;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.zoom{
    position: relative;
    background-color: rgb(83, 83, 83);
    box-sizing: border-box;
    margin: 8px;
    width: 240;
    height:160;
    transition: transform .2s;
    text-align: center;
}
.zoom::before{
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-10;
    
    box-shadow: 10px 10px 0 0 #00000081;
}
.zoom:hover{
    transform: scale(1.09);
}

.outline1 {
    position: relative;
  }
  
  .outline2 {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color:white;
    font-size: 24px;
    font-family: 'Nexa', Nexa, sans-serif;
  }
  
  .outline1:before,
  .outline1:after,
  .outline2:before,
  .outline2:after {
    content: "";
    position: absolute;
    background: white;
  }
  
  .outline1:before {
    width: 1px;
    height: 0;
    bottom: 0;
    left: 0;
  }
  
  .outline1:after {
    height: 1px;
    width: 0;
    top: 0;
    left: 0;
  }
  
  .outline2:before {
    width: 1px;
    height: 0;
    top: 0;
    right: 0;
  }
  
  .outline2:after {
    height: 1px;
    width: 0;
    right: 0;
    bottom: 0;
  }
  
  .outline1:hover:before {
    height: 100%;
    transition: all .12s linear .32s;
  }
  
  .outline1:hover:after {
    width: 100%;
    transition: all .1s linear;
  }
  
  .outline1:hover .outline2:before {
    height: 100%;
    transition: all .12s linear .1s;
  }
  
  .outline1:hover .outline2:after {
    width: 100%;
    transition: all .1s linear .22s;
  }