body{
    background: none white;
    background-repeat: repeat;
    background-size: 500px 500px;
    line-height: 170%;
    
    font-family: 'Roboto', sans-serif;
}
@font-face {
    font-family: 'Nexa';
    src: url('fonts/Nexa Bold.otf');
}
div{
    display: block;
}

.clear{
    clear: left;
}
#vignette{
    background: radial-gradient(transparent, rgb(150, 150, 150));
    width: 100%; 
    height: 100%;
    position: fixed;
    z-index:-1;
}
.header{
    position: relative;
    color: #888888;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 12px;
    min-height: 50px;
    height: auto !important;
    padding-top: 25px;

    background-image:url(none);
    background-repeat: no-repeat;
}
.logo h1{
    font-size: 48px;
    text-shadow: 5px 5px 2px rgb(150, 150, 150);
}
.logo h1 a{
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
.logo{
    position: absolute;
    width: 100%;
    text-align: center;
    color:black;
    padding-top: 40px;
    font-family: 'Nexa', Nexa, sans-serif;
}

.nav{
    margin-top: 110px;
    background: #fafafa;
    color: black;
    display: block;
    float: left;
    padding-left: 3px;
    width: 100%;
    line-height: 30px;
    border-bottom: 1px solid rgb(230, 230, 230);
    box-shadow: 5px 5px 10px 0 rgb(150, 150, 150);
    overflow: hidden;
    box-sizing: border-box;
}
.menudiv{
    display: none;
    overflow:hidden;
    float: left;
    position:relative;
}
.menubuttons{
    display: flex;
    flex-direction: row;
    list-style: none outside none;
    overflow:hidden;
}
.menubuttons li{
    display: block;
    margin: 0 3px 0 0;
}
.menubuttons a{
    color: inherit;
    padding: 0 15px 0 15px;
    text-decoration: none;
}
.menubuttons li:hover{
    background-color: rgb(230, 230, 230);
    color: black;
    cursor: pointer;
}
.menutoggle{
    position: relative;
    display: inline-block;
    padding: 0 15px 0 15px;
    cursor: pointer;
}
.menutoggle:hover{
    background-color: rgb(230, 230, 230);
    color: black;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}
.zoom{
    position: relative;
    background-color: #fafafa;
    margin: 8px;
    width: 240;
    height:160;
    text-align: center;
    cursor: pointer;
    
    color: black;
    font-size: 24px;
    font-family: 'Nexa', Nexa, sans-serif;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    border: 1px solid #fafafa;
}
.zoom::before{
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-10;
    
    box-shadow: 5px 5px 10px 0 rgb(150, 150, 150);
}
.zoom:hover{
  border: 1px solid black;
  transform: scale3d(1.09,1.09,1.09);
}
.zoom a{
  position: absolute;
  width:100%;
  height:100%;
}
.title{
  font-size:24px;
}
.subtitle{
  font-size:12px;
  line-height:14px;
  padding: 0px 10px;
}
.selected{
    top:8px;
}

  .description{
      width:100%;
      height:400px;
      background:#101010;
    display: flex;
    
    color:white;
    font-size: 24px;
    font-family: 'Nexa', Nexa, sans-serif;
    box-shadow: inset  0  40px 40px -40px #000000, 
                inset  0 -40px 40px -40px #000000;
    overflow:hidden;
  }
  

  .content{
      box-sizing: border-box;
      width: auto;
      position:relative;
      display: flex;
      width: 100%;
      flex-flow: column wrap;
      padding: 20px 20px;
      height:400px;
      vertical-align: top;
      align-content: center;  /* NEW */
      flex: 1 1 auto;
  }
  .content iframe{
      -o-object-fit: contain;
      object-fit: contain;
      align-self: end;
      
      display: block;
  }
  .triangle{
    position: absolute;
    width: 200;
    height:141;
    left:0px;
    bottom:0px;
    box-sizing: border-box;
  }
  .triangle:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #fff71e;
    transform-origin: 0 0;
    transform: rotate(45deg);
    box-shadow: 0px 40px 20px 40px #000000;
  }
  .triangle a{
    box-sizing: border-box;
    position: absolute;
    top:0;
    left:0;
    padding: 15px 20px;
    text-align: center;
    line-height:1.1;
    font-size: 16px;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #000000;
    transform-origin: 0 0;
    transform: rotate(45deg);
    transition: box-shadow
  }
  .triangle a:hover{
    color: #ffffff;
  }
  .triangle a:hover:before{
    height:100%;
  }
  .triangle a:hover p{
    display: none;
  }
  .alt{
    padding-top: 8px;
    display: none;
  }
  .triangle a:hover .alt{
    display: block;
  }
  .triangle a:before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    height: 0px;
    width:100%;
    background-color: #535353;
    transition: height .2s linear;
    z-index: -1;
  }
  .summary{
      padding: 0px 15px;
      max-width:460px;
      font-size:16px;
      font-family: 'Roboto', sans-serif;
      word-wrap: break-word;
      overflow: auto;
      
      display: block;
  }
  .summary a:link{
    color: #ffffff;
  }
  .summary a:visited{
    color: #444444;
  }
  .summary a:hover{
    color: #bbbbbb;
  }
  .summary b{
      font-weight: 17px;
      text-decoration: underline;
  }

  .summary b.link{
    padding: 2px 4px 2px 4px;
    width: auto;
    text-decoration: none;
    background-color: #888888;
    color: #000000;
  }

    .summary ul{
        margin-left:18px;
        list-style-type: square;
    }
    .summary ul li{
        line-height: 100%;
        padding-bottom: 5px;
    }

  /* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    background-clip: content-box;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333333; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    background-clip: content-box;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
    
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    background-clip: content-box;
  }